<p class="tool-bar">
  <mat-toolbar class="tool-bar-container">
    <span>Weather App</span>
    <span class="example-spacer"></span>
    <div routerLink="/" ariaCurrentWhenActive="page">
      <button mat-icon-button class="example-icon" aria-label="Example home icon">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
      </button>
    </div>
    <div routerLink="/favorites" ariaCurrentWhenActive="page">
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
    </div>
  </mat-toolbar>
</p>
