/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Ink&display=swap');

html, body { 
    height: 100%; 
}

   
body { 
    margin: 0; 
    font-family: 'Reem Kufi Ink', sans-serif;
    background-image: url("./images/8562848_25501.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #D4E5F7;
    height: 100vh;
    background-attachment: fixed;
}

body *{ 
    font-family: 'Reem Kufi Ink', sans-serif;
}
